a{
    color:blue;
    font-size: 28px;
}
body{
    background-image: url(abc.jpge.jpg);
    background-color: aliceblue;
    background-repeat: no-repeat;
   background-size: 1940px 970px ;

}
  